In [104]:
import pandas as pd
import numpy as np

In [106]:
# Load the dataset
learning_share = pd.read_csv('District_Monthly_Shares_03.08.23.csv')

# Display the first few rows and columns to understand the structure
learning_share.head()

,StateAbbrev,NCESDistrictID,month,DistrictName,share_inperson,share_hybrid,share_virtual
0,AK,200001,2020m8,Lower Kuskokwim School District,0.003278,0.0,0.996722
1,AK,200001,2020m9,Lower Kuskokwim School District,0.002640,0.0,0.997360
2,AK,200001,2020m10,Lower Kuskokwim School District,0.002889,0.0,0.997111
3,AK,200001,2020m11,Lower Kuskokwim School District,0.002926,0.0,0.997074
4,AK,200001,2020m12,Lower Kuskokwim School District,0.002938,0.0,0.997062

In [108]:
# Load the dataset

seda2022 = pd.read_csv('seda2022_admindist_poolsub_ys_beta.csv')

# Display the first few rows and columns to understand the structure
seda2022.head()

,fips,stateabb,sedaadmin,sedaadminname,subject,subgroup,ys_mn19_ol,ys_mn19_ol_se,ys_mn19_eb,ys_mn19_eb_se,...,ys_chg_ol,ys_chg_ol_se,ys_chg_eb,ys_chg_eb_se,tot_asmt19,tot_asmt22,cell19,cell22,avg_asmt19,avg_asmt22
0,1,AL,100005,ALBERTVILLE CITY,mth,all,-0.350,0.048583,-0.376,0.0440,...,-0.1900,0.068967,-0.1410,0.0578,2594,2740,6,6,432.3,456.7
1,1,AL,100005,ALBERTVILLE CITY,mth,ecd,-0.573,0.050793,-0.590,0.0445,...,-0.1010,0.072481,-0.0710,0.0585,1087,1071,6,6,181.2,178.5
2,1,AL,100005,ALBERTVILLE CITY,mth,hsp,-0.522,0.043034,-0.547,0.0387,...,-0.1390,0.061335,-0.0866,0.0495,1347,1464,6,6,224.5,244.0
3,1,AL,100005,ALBERTVILLE CITY,mth,wht,-0.111,0.053263,-0.141,0.0499,...,-0.3280,0.075516,-0.2630,0.0667,1067,1070,6,6,177.8,178.3
4,1,AL,100005,ALBERTVILLE CITY,rla,all,-0.377,0.033052,-0.388,0.0307,...,-0.0876,0.046314,-0.0659,0.0403,2552,2737,6,6,425.3,456.2

In [110]:
# Set treatment variable D as an indicator: threshhold = 0.5
learning_share["D"] = ((learning_share["share_virtual"] + learning_share["share_hybrid"]) >= 0.5).astype(int)

# Sum up the treatment variable D
learning_share_df = learning_share.groupby(["StateAbbrev", "NCESDistrictID", "DistrictName"], as_index=False)["D"].sum()

# Arrange columns
# Drop the columns: month, share_inperson, share_hybrit, share_virtual
learning_share_df = (learning_share_df.rename(columns={"D": "Online_months"})
                     .sort_values('NCESDistrictID', ascending=True)).reset_index(drop=True)

# 結果をCSVとして保存
learning_share_df.to_csv("online_share_months.csv", index=False)

learning_share_df.head(10)

  StateAbbrev  NCESDistrictID      DistrictName  Online_months
0          AL          100005  Albertville City              0
1          AL          100006   Marshall County              0
2          AL          100007       Hoover City              8
3          AL          100008      Madison City              0
4          AL          100011        Leeds City              0
5          AL          100012         Boaz City              0
6          AL          100013   Trussville City              8
7          AL          100030    Alexander City              4
8          AL          100060    Andalusia City              0
9          AL          100090     Anniston City              2

In [112]:
# Filter for rows where subgroup == "all" and drop 'fips' and 'subgroup' columns
seda_filtered = (seda2022[seda2022["subgroup"] == "all"].drop(columns=["fips", "subgroup"])
                 .sort_values('sedaadmin', ascending=True)).reset_index(drop=True)

# Save the filtered DataFrame to CSV
seda_filtered.to_csv("seda_2022.csv", index=False)

seda_filtered.head(10)

,stateabb,sedaadmin,sedaadminname,subject,ys_mn19_ol,ys_mn19_ol_se,ys_mn19_eb,ys_mn19_eb_se,ys_mn22_ol,ys_mn22_ol_se,...,ys_chg_ol,ys_chg_ol_se,ys_chg_eb,ys_chg_eb_se,tot_asmt19,tot_asmt22,cell19,cell22,avg_asmt19,avg_asmt22
0,AL,100005,ALBERTVILLE CITY,mth,-0.350,0.048583,-0.376,0.0440,-0.540,0.048953,...,-0.19000,0.068967,-0.14100,0.0578,2594,2740,6,6,432.3,456.7
1,AL,100005,ALBERTVILLE CITY,rla,-0.377,0.033052,-0.388,0.0307,-0.465,0.032436,...,-0.08760,0.046314,-0.06590,0.0403,2552,2737,6,6,425.3,456.2
2,AL,100006,MARSHALL COUNTY,mth,-0.461,0.049051,-0.464,0.0444,-0.501,0.049806,...,-0.04020,0.069888,-0.03280,0.0584,2560,2555,6,6,426.7,425.8
3,AL,100006,MARSHALL COUNTY,rla,-0.448,0.032629,-0.444,0.0304,-0.425,0.033305,...,0.02260,0.046591,0.01710,0.0405,2546,2557,6,6,424.3,426.2
4,AL,100007,HOOVER CITY,mth,0.295,0.048194,0.289,0.0437,0.405,0.048188,...,0.10900,0.068135,0.11200,0.0573,6417,6259,6,6,1069.5,1043.2
5,AL,100007,HOOVER CITY,rla,0.293,0.029366,0.298,0.0277,0.416,0.030037,...,0.12300,0.041956,0.10900,0.0373,6384,6256,6,6,1064.0,1042.7
6,AL,100008,MADISON CITY,mth,0.469,0.049193,0.428,0.0444,0.406,0.048580,...,-0.06300,0.069122,-0.00144,0.0579,5019,5296,6,6,836.5,882.7
7,AL,100008,MADISON CITY,rla,0.568,0.031340,0.548,0.0294,0.486,0.030854,...,-0.08210,0.043901,-0.05050,0.0386,4983,5293,6,6,830.5,882.2
8,AL,100011,LEEDS CITY,mth,-0.378,0.055625,-0.388,0.0492,-0.431,0.055972,...,-0.05300,0.078858,-0.03460,0.0633,945,944,6,6,157.5,157.3
9,AL,100011,LEEDS CITY,rla,-0.306,0.045319,-0.305,0.0403,-0.298,0.044387,...,0.00787,0.063427,0.00708,0.0501,945,946,6,6,157.5,157.7

In [146]:
list(seda_math['sedaadminname'].unique())

['ALBERTVILLE CITY',
 'MARSHALL COUNTY',
 'HOOVER CITY',
 'MADISON CITY',
 'LEEDS CITY',
 'BOAZ CITY',
 'TRUSSVILLE CITY',
 'ALEXANDER CITY',
 'ANDALUSIA CITY',
 'ANNISTON CITY',
 'ARAB CITY',
 'ATHENS CITY',
 'ATTALLA CITY',
 'SARALAND CITY',
 'CHICKASAW CITY',
 'SATSUMA CITY',
 'ALABASTER CITY',
 'PELHAM CITY',
 'PIKE ROAD CITY',
 'AUBURN CITY',
 'AUTAUGA COUNTY',
 'BALDWIN COUNTY',
 'BESSEMER CITY',
 'BIBB COUNTY',
 'BIRMINGHAM CITY',
 'BLOUNT COUNTY',
 'BREWTON CITY',
 'BULLOCK COUNTY',
 'BUTLER COUNTY',
 'CALHOUN COUNTY',
 'CHAMBERS COUNTY',
 'CHEROKEE COUNTY',
 'CHILTON COUNTY',
 'CHOCTAW COUNTY',
 'CLARKE COUNTY',
 'CLAY COUNTY',
 'CLEBURNE COUNTY',
 'COFFEE COUNTY',
 'COLBERT COUNTY',
 'CONECUH COUNTY',
 'COOSA COUNTY',
 'COVINGTON COUNTY',
 'CRENSHAW COUNTY',
 'CULLMAN CITY',
 'CULLMAN COUNTY',
 'DALE COUNTY',
 'DALEVILLE CITY',
 'DALLAS COUNTY',
 'DEKALB COUNTY',
 'DECATUR CITY',
 'DEMOPOLIS CITY',
 'DOTHAN CITY',
 'ELMORE COUNTY',
 'ENTERPRISE CITY',
 'ESCAMBIA COUNTY',
 'ETOWAH COUNTY',
 'EUFAULA CITY',
 'FAIRFIELD CITY',
 'FAYETTE COUNTY',
 'FLORENCE CITY',
 'FORT PAYNE CITY',
 'FRANKLIN COUNTY',
 'GADSDEN CITY',
 'GENEVA CITY',
 'GENEVA COUNTY',
 'GREENE COUNTY',
 'GUNTERSVILLE CITY',
 'HALE COUNTY',
 'HALEYVILLE CITY',
 'HARTSELLE CITY',
 'HENRY COUNTY',
 'HOMEWOOD CITY',
 'HOUSTON COUNTY',
 'HUNTSVILLE CITY',
 'JACKSON COUNTY',
 'JACKSONVILLE CITY',
 'JASPER CITY',
 'JEFFERSON COUNTY',
 'LAMAR COUNTY',
 'LANETT CITY',
 'LAUDERDALE COUNTY',
 'LAWRENCE COUNTY',
 'LEE COUNTY',
 'LIMESTONE COUNTY',
 'LOWNDES COUNTY',
 'MACON COUNTY',
 'MADISON COUNTY',
 'MARENGO COUNTY',
 'MARION COUNTY',
 'MIDFIELD CITY',
 'MOBILE COUNTY',
 'MONROE COUNTY',
 'MONTGOMERY COUNTY',
 'MORGAN COUNTY',
 'MOUNTAIN BROOK CITY',
 'MUSCLE SHOALS CITY',
 'ONEONTA CITY',
 'OPELIKA CITY',
 'OPP CITY',
 'OXFORD CITY',
 'OZARK CITY',
 'PELL CITY',
 'PERRY COUNTY',
 'PHENIX CITY',
 'PICKENS COUNTY',
 'PIEDMONT CITY',
 'PIKE COUNTY',
 'RANDOLPH COUNTY',
 'ROANOKE CITY',
 'RUSSELL COUNTY',
 'RUSSELLVILLE CITY',
 'SCOTTSBORO CITY',
 'SELMA CITY',
 'SHEFFIELD CITY',
 'SHELBY COUNTY',
 'ST CLAIR COUNTY',
 'SUMTER COUNTY',
 'SYLACAUGA CITY',
 'TALLADEGA CITY',
 'TALLADEGA COUNTY',
 'TALLAPOOSA COUNTY',
 'TALLASSEE CITY',
 'TARRANT CITY',
 'THOMASVILLE CITY',
 'TROY CITY',
 'TUSCALOOSA CITY',
 'TUSCALOOSA COUNTY',
 'TUSCUMBIA CITY',
 'VESTAVIA HILLS CITY',
 'WALKER COUNTY',
 'WASHINGTON COUNTY',
 'WILCOX COUNTY',
 'WINFIELD CITY',
 'WINSTON COUNTY',
 'CAVE CREEK UNIFIED DISTRICT',
 'CHINO VALLEY UNIFIED DISTRICT',
 'BENSON UNIFIED SCHOOL DISTRICT',
 'KINGMAN UNIFIED SCHOOL DISTRICT',
 'ALHAMBRA ELEMENTARY DISTRICT',
 'AMPHITHEATER UNIFIED DISTRICT',
 'APACHE JUNCTION UNIFIED DISTRICT',
 'AVONDALE ELEMENTARY DISTRICT',
 'BALSZ ELEMENTARY DISTRICT',
 'BUCKEYE ELEMENTARY DISTRICT',
 'SIERRA VISTA UNIFIED DISTRICT',
 'BULLHEAD CITY SCHOOL DISTRICT',
 'CAMP VERDE UNIFIED DISTRICT',
 'CARTWRIGHT ELEMENTARY DISTRICT',
 'CASA GRANDE ELEMENTARY DISTRICT',
 'CATALINA FOOTHILLS UNIFIED DISTRICT',
 'CHANDLER UNIFIED DISTRICT #80',
 'CHINLE UNIFIED DISTRICT',
 'COTTONWOOD-OAK CREEK ELEMENTARY DISTRICT',
 'CRANE ELEMENTARY DISTRICT',
 'CREIGHTON ELEMENTARY DISTRICT',
 'DOUGLAS UNIFIED DISTRICT',
 'DYSART UNIFIED DISTRICT',
 'FLAGSTAFF UNIFIED DISTRICT',
 'FLORENCE UNIFIED SCHOOL DISTRICT',
 'FLOWING WELLS UNIFIED DISTRICT',
 'FOUNTAIN HILLS UNIFIED DISTRICT',
 'FOWLER ELEMENTARY DISTRICT',
 'FORT HUACHUCA ACCOMMODATION DISTRICT',
 'GADSDEN ELEMENTARY DISTRICT',
 'GILBERT UNIFIED DISTRICT',
 'GLENDALE ELEMENTARY DISTRICT',
 'HIGLEY UNIFIED SCHOOL DISTRICT',
 'HOLBROOK UNIFIED DISTRICT',
 'HUMBOLDT UNIFIED DISTRICT',
 'ISAAC ELEMENTARY DISTRICT',
 'J O COMBS UNIFIED SCHOOL DISTRICT',
 'KAYENTA UNIFIED DISTRICT',
 'KYRENE ELEMENTARY DISTRICT',
 'LAKE HAVASU UNIFIED DISTRICT',
 'LAVEEN ELEMENTARY DISTRICT',
 'LIBERTY ELEMENTARY DISTRICT',
 'LITCHFIELD ELEMENTARY DISTRICT',
 'LITTLETON ELEMENTARY DISTRICT',
 'MADISON ELEMENTARY DISTRICT',
 'MARANA UNIFIED DISTRICT',
 'MARICOPA UNIFIED SCHOOL DISTRICT',
 'MESA UNIFIED DISTRICT',
 'MOHAVE VALLEY ELEMENTARY DISTRICT',
 'MORENCI UNIFIED DISTRICT',
 'NADABURG UNIFIED SCHOOL DISTRICT',
 'NOGALES UNIFIED DISTRICT',
 'OSBORN ELEMENTARY DISTRICT',
 'PAGE UNIFIED DISTRICT',
 'PALOMINAS ELEMENTARY DISTRICT',
 'PARADISE VALLEY UNIFIED DISTRICT',
 'PARKER UNIFIED SCHOOL DISTRICT',
 'PAYSON UNIFIED DISTRICT',
 'PENDERGAST ELEMENTARY DISTRICT',
 'PEORIA UNIFIED SCHOOL DISTRICT',
 'PHOENIX ELEMENTARY DISTRICT',
 'PIMA UNIFIED DISTRICT',
 'BLUE RIDGE UNIFIED SCHOOL DISTRICT NO. 32',
 'PRESCOTT UNIFIED DISTRICT',
 'QUEEN CREEK UNIFIED DISTRICT',
 'ROOSEVELT ELEMENTARY DISTRICT',
 'ROUND VALLEY UNIFIED DISTRICT',
 'SADDLE MOUNTAIN UNIFIED SCHOOL DISTRICT',
 'SAFFORD UNIFIED DISTRICT',
 'SAHUARITA UNIFIED DISTRICT',
 'SANTA CRUZ VALLEY UNIFIED DISTRICT',
 'SCOTTSDALE UNIFIED DISTRICT',
 'SHOW LOW UNIFIED DISTRICT',
 'DEER VALLEY UNIFIED DISTRICT',
 'SNOWFLAKE UNIFIED DISTRICT',
 'SOMERTON ELEMENTARY DISTRICT',
 'SUNNYSIDE UNIFIED DISTRICT',
 'TANQUE VERDE UNIFIED DISTRICT',
 'TEMPE SCHOOL DISTRICT',
 'THATCHER UNIFIED DISTRICT',
 'TOLLESON ELEMENTARY DISTRICT',
 'TOLTEC SCHOOL DISTRICT',
 'TUCSON UNIFIED DISTRICT',
 'UNION ELEMENTARY DISTRICT',
 'VAIL UNIFIED SCHOOL DISTRICT',
 'WASHINGTON ELEMENTARY SCHOOL DISTRICT',
 'WICKENBURG UNIFIED DISTRICT',
 'WILSON ELEMENTARY DISTRICT',
 'WINDOW ROCK UNIFIED DISTRICT',
 'WINSLOW UNIFIED DISTRICT',
 'YUMA ELEMENTARY DISTRICT',
 'DEWITT SCHOOL DISTRICT',
 'WARREN SCHOOL DISTRICT',
 'SHERIDAN SCHOOL DISTRICT',
 'PARAGOULD SCHOOL DISTRICT',
 'BATESVILLE SCHOOL DISTRICT',
 'PINE BLUFF SCHOOL DISTRICT',
 'GOSNELL SCHOOL DISTRICT',
 'HAMBURG SCHOOL DISTRICT',
 'MOUNTAIN HOME SCHOOL DISTRICT',
 'MAGNOLIA SCHOOL DISTRICT',
 'TRUMANN SCHOOL DISTRICT',
 'DEQUEEN SCHOOL DISTRICT',
 'EMERSON-TAYLOR SCHOOL DISTRICT',
 'JACKSONVILLE NORTH PULASKI SCHOOL DISTRICT',
 'ALMA SCHOOL DISTRICT',
 'ARKADELPHIA SCHOOL DISTRICT',
 'ASHDOWN SCHOOL DISTRICT',
 'BAUXITE SCHOOL DISTRICT',
 'BEEBE SCHOOL DISTRICT',
 'BENTON SCHOOL DISTRICT',
 'PEA RIDGE SCHOOL DISTRICT',
 'BENTONVILLE SCHOOL DISTRICT',
 'BERRYVILLE SCHOOL DISTRICT',
 'BROOKLAND SCHOOL DISTRICT',
 'BRYANT SCHOOL DISTRICT',
 'CABOT SCHOOL DISTRICT',
 'WESTSIDE CONS. SCHOOL DISTRICT',
 'GENOA CENTRAL SCHOOL DISTRICT',
 'CLARKSVILLE SCHOOL DISTRICT',
 'CLINTON SCHOOL DISTRICT',
 'CONWAY SCHOOL DISTRICT',
 'DARDANELLE SCHOOL DISTRICT',
 'DOVER SCHOOL DISTRICT',
 'EL DORADO SCHOOL DISTRICT',
 'ELKINS SCHOOL DISTRICT',
 'CAMDEN FAIRVIEW SCHOOL DIST.',
 'FARMINGTON SCHOOL DISTRICT',
 'FAYETTEVILLE SCHOOL DISTRICT',
 'FORT SMITH SCHOOL DISTRICT',
 'FOUKE SCHOOL DISTRICT',
 'FOUNTAIN LAKE SCHOOL DISTRICT',
 'GENTRY SCHOOL DISTRICT',
 'GRAVETTE SCHOOL DISTRICT',
 'GREENBRIER SCHOOL DISTRICT',
 'GREENWOOD SCHOOL DISTRICT',
 'HARMONY GROVE SCHOOL DISTRICT',
 'HARRISON SCHOOL DISTRICT',
 'HEBER SPRINGS SCHOOL DISTRICT',
 'HELENA/ W.HELENA SCHOOL DIST.',
 'HIGHLAND SCHOOL DISTRICT',
 'HOPE SCHOOL DISTRICT',
 'HOT SPRINGS SCHOOL DISTRICT',
 'WEST MEMPHIS SCHOOL DISTRICT',
 'HUNTSVILLE SCHOOL DISTRICT',
 'JONESBORO SCHOOL DISTRICT',
 'RIVERVIEW SCHOOL DISTRICT',
 'LAKE HAMILTON SCHOOL DISTRICT',
 'LAKESIDE SCHOOL DISTRICT',
 'LAMAR SCHOOL DISTRICT',
 'LITTLE ROCK SCHOOL DISTRICT',
 'LONOKE SCHOOL DISTRICT',
 'MALVERN SCHOOL DISTRICT',
 'MARION SCHOOL DISTRICT',
 'MAYFLOWER SCHOOL DISTRICT',
 'MCGEHEE SCHOOL DISTRICT',
 'MENA SCHOOL DISTRICT',
 'MONTICELLO SCHOOL DISTRICT',
 'MOUNTAIN VIEW SCHOOL DISTRICT',
 'NASHVILLE SCHOOL DISTRICT',
 'NETTLETON SCHOOL DISTRICT',
 'N. LITTLE ROCK SCHOOL DISTRICT',
 'OZARK SCHOOL DISTRICT',
 'POCAHONTAS SCHOOL DISTRICT',
 'POTTSVILLE SCHOOL DISTRICT',
 'PRAIRIE GROVE SCHOOL DISTRICT',
 'PULASKI CO. SPEC. SCHOOL DIST.',
 'ROGERS SCHOOL DISTRICT',
 'RUSSELLVILLE SCHOOL DISTRICT',
 'SEARCY SCHOOL DISTRICT',
 'SILOAM SPRINGS SCHOOL DISTRICT',
 'SO. CONWAY CO. SCHOOL DISTRICT',
 'SOUTHSIDE SCHOOL DISTRICT',
 'SPRINGDALE SCHOOL DISTRICT',
 'STUTTGART SCHOOL DISTRICT',
 'GREENE CO. TECH SCHOOL DIST.',
 'TEXARKANA SCHOOL DISTRICT',
 'VALLEY VIEW SCHOOL DISTRICT',
 'VAN BUREN SCHOOL DISTRICT',
 'VILONIA SCHOOL DISTRICT',
 'WATSON CHAPEL SCHOOL DISTRICT',
 'WHITE HALL SCHOOL DISTRICT',
 'WYNNE SCHOOL DISTRICT',
 'ACTON-AGUA DULCE UNIFIED',
 'ROSS VALLEY ELEMENTARY',
 'ROCKLIN UNIFIED',
 'HESPERIA UNIFIED',
 'LUCERNE VALLEY UNIFIED',
 'UPLAND UNIFIED',
 'APPLE VALLEY UNIFIED',
 'DUBLIN UNIFIED',
 'PLEASANTON UNIFIED',
 'MENDOTA UNIFIED',
 'MANHATTAN BEACH UNIFIED',
 'LAKE ELSINORE UNIFIED',
 'TEMECULA VALLEY UNIFIED',
 'MURRIETA VALLEY UNIFIED',
 'REDONDO BEACH UNIFIED',
 'DOS PALOS ORO LOMA JOINT UNIFIED',
 'WINDSOR UNIFIED',
 'FARMERSVILLE UNIFIED',
 'NATOMAS UNIFIED',
 'FERNDALE UNIFIED',
 'DELHI UNIFIED',
 'RIVERDALE JOINT UNIFIED',
 'SCOTTS VALLEY UNIFIED',
 'HEALDSBURG UNIFIED',
 'ORLAND JOINT UNIFIED',
 'GONZALES UNIFIED',
 'TRACY JOINT UNF',
 'PASO ROBLES JOINT UNIFIED',
 'GRIDLEY UNIFIED',
 'EUREKA CITY UNIFIED',
 'HUGHSON UNIFIED',
 'RIVERBANK UNIFIED',
 'OAKDALE JOINT UNIFIED',
 'WATERFORD UNIFIED',
 'PORTERVILLE UNIFIED',
 'DINUBA UNIFIED',
 'CARUTHERS UNIFIED',
 'GOLDEN VALLEY UNIFIED',
 'VALLEY CENTER-PAUMA UNIFIED',
 'CHAWANAKEE UNIFIED',
 'ALHAMBRA UNIFIED',
 'TURLOCK UNIFIED',
 'SCOTT VALLEY UNIFIED',
 'YOSEMITE UNIFIED',
 'TWIN RIVERS UNIFIED',
 'BISHOP UNIFIED',
 'LAMMERSVILLE JOINT UNIFIED',
 'SANTA BARBARA UNIFIED',
 'WASHINGTON UNIFIED',
 'WOODLAKE UNIFIED',
 'FORTUNA ELEMENTARY',
 'SANTA PAULA UNIFIED',
 'EXETER UNIFIED',
 'BONSALL UNIFIED',
 'PENN VALLEY UNION ELEMENTARY',
 'WISEBURN UNIFIED',
 'ABC UNIFIED',
 'ACKERMAN ELEMENTARY',
 'ADELANTO ELEMENTARY',
 'ALAMEDA UNIFIED',
 'ALBANY CITY UNIFIED',
 'ALISAL UNION',
 'ALPINE UNION ELEMENTARY',
 'ALTA LOMA ELEMENTARY',
 'ALTA VISTA ELEMENTARY',
 'ALUM ROCK UNION ELEMENTARY',
 'ALVIEW-DAIRYLAND UNION ELEMENTARY',
 'ALVORD UNIFIED',
 'AMADOR COUNTY UNIFIED',
 'ANAHEIM ELEMENTARY',
 'ANTELOPE ELEMENTARY',
 'ANTIOCH UNF',
 'ARCADIA UNIFIED',
 'ARMONA UNION ELEMENTARY',
 'ARVIN UNION',
 'ATASCADERO UNIFIED',
 'ATWATER ELEMENTARY',
 'AUBURN UNION ELEMENTARY',
 'AZUSA UNIFIED',
 'BAKERSFIELD CITY',
 'BALDWIN PARK UNIFIED',
 'BANNING UNIFIED',
 'BARSTOW UNIFIED',
 'BASS LAKE JOINT UNION ELEMENTARY',
 'BASSETT UNIFIED',
 'BEAR VALLEY UNIFIED',
 'BEARDSLEY ELEMENTARY',
 'BEAUMONT UNIFIED',
 'BELLEVUE UNION',
 'BELLFLOWER UNIFIED',
 'BELMONT-REDWOOD SHORES ELEMENTARY',
 'BENICIA UNIFIED',
 'BENNETT VALLEY UNION ELEMENTARY',
 'BERKELEY UNIFIED',
 'BERRYESSA UNION ELEMENTARY',
 'BEVERLY HILLS UNIFIED',
 'BLACK OAK MINE UNIFIED',
 'SANTA MARIA-BONITA',
 'BONITA UNIFIED',
 'BRAWLEY ELEMENTARY',
 'BREA-OLINDA UNIFIED',
 'BRENTWOOD UNION ELEMENTARY',
 'BRIGGS ELEMENTARY',
 'BUCKEYE UNION ELEMENTARY',
 'BUENA PARK ELEMENTARY',
 'PANAMA-BUENA VISTA UNION',
 'BURBANK UNIFIED',
 'BURLINGAME ELEMENTARY',
 'BURTON ELEMENTARY',
 'BYRON UNION ELEMENTARY',
 'CABRILLO UNIFIED',
 'CAJON VALLEY UNION',
 'CALAVERAS UNIFIED',
 'CALEXICO UNIFIED',
 'CALIPATRIA UNIFIED',
 'CALISTOGA JOINT UNIFIED',
 'CAMBRIAN',
 'CAMINO UNION ELEMENTARY',
 'CAMPBELL UNION',
 'CAPISTRANO UNIFIED',
 'CARLSBAD UNIFIED',
 'CARMEL UNIFIED',
 'CARPINTERIA UNIFIED',
 'CASCADE UNION ELEMENTARY',
 'CASTAIC UNION',
 'CASTRO VALLEY UNIFIED',
 'CENTER JOINT UNIFIED',
 'CENTRAL ELEMENTARY',
 'CENTRAL UNIFIED',
 'CENTRAL UNION ELEMENTARY',
 'CENTRALIA ELEMENTARY',
 'CERES UNIFIED',
 'CHARTER OAK UNIFIED',
 'CHATOM UNION',
 'CHICO UNIFIED',
 'CHINO VALLEY UNIFIED',
 'CHOWCHILLA ELEMENTARY',
 'CHULA VISTA ELEMENTARY',
 'CLAREMONT UNIFIED',
 'CLOVERDALE UNIFIED',
 'CLOVIS UNIFIED',
 'COACHELLA VALLEY UNIFIED',
 'COALINGA-HURON UNIFIED',
 'COLTON JOINT UNIFIED',
 'COLUMBIA ELEMENTARY',
 'COLUSA UNIFIED',
 'COMPTON UNIFIED',
 'CONEJO VALLEY UNIFIED',
 'CORCORAN JOINT UNF',
 'CORNING UNION ELEMENTARY',
 'CORONA-NORCO UNIFIED',
 'CORONADO UNIFIED',
 'COTATI-ROHNERT PARK UNIFIED',
 'COTTONWOOD UNION ELEMENTARY',
 'COVINA-VALLEY UNIFIED',
 'CULVER CITY UNIFIED',
 'CUPERTINO UNION',
 'CUTLER-OROSI JOINT UNF',
 'CUTTEN ELEMENTARY',
 'CYPRESS ELEMENTARY',
 'DAVIS JOINT UNIFIED',
 'DEL MAR UNION ELEMENTARY',
 'DEL NORTE COUNTY UNIFIED',
 'DELANO UNION ELEMENTARY',
 'DENAIR UNIFIED',
 'DESERT SANDS UNIFIED',
 'DIXIE ELEMENTARY',
 'DIXON UNIFIED',
 'DOWNEY UNIFIED',
 'DRY CREEK JOINT ELEMENTARY',
 'DUARTE UNIFIED',
 'DURHAM UNIFIED',
 'EARLIMART ELEMENTARY',
 'EAST WHITTIER CITY ELEMENTARY',
 'EASTSIDE UNION ELEMENTARY',
 'EDISON ELEMENTARY',
 'EL CENTRO ELEMENTARY',
 'EL MONTE CITY',
 'EL RANCHO UNIFIED',
 'EL SEGUNDO UNIFIED',
 'ELK GROVE UNIFIED',
 'EMPIRE UNION ELEMENTARY',
 'ENCINITAS UNION ELEMENTARY',
 'ENTERPRISE ELEMENTARY',
 'ESCALON UNIFIED',
 'ESCONDIDO UNION',
 'ESPARTO UNIFIED',
 'ETIWANDA ELEMENTARY',
 'EUREKA UNION',
 'EVERGREEN ELEMENTARY',
 'EVERGREEN UNION',
 'FAIRFAX ELEMENTARY',
 'FAIRFIELD-SUISUN UNIFIED',
 'FALL RIVER JOINT UNIFIED',
 'FALLBROOK UNION ELEMENTARY',
 'FILLMORE UNIFIED',
 'FIREBAUGH-LAS DELTAS UNIFIED',
 'FOLSOM-CORDOVA UNIFIED',
 'FONTANA UNIFIED',
 'FORT BRAGG UNIFIED',
 'FOUNTAIN VALLEY ELEMENTARY',
 'FOWLER UNIFIED',
 'FRANKLIN ELEMENTARY',
 'FRANKLIN-MCKINLEY ELEMENTARY',
 'FREMONT UNIFIED',
 'FRESNO UNIFIED',
 'FRUITVALE ELEMENTARY',
 'FULLERTON ELEMENTARY',
 'GALT JOINT UNION ELEMENTARY',
 'GARDEN GROVE UNIFIED',
 'GARVEY ELEMENTARY',
 'GATEWAY UNIFIED',
 'GERBER UNION ELEMENTARY',
 'GILROY UNIFIED',
 'GLENDALE UNIFIED',
 'GLENDORA UNIFIED',
 'GOLD OAK UNION ELEMENTARY',
 'GOLD TRAIL UNION ELEMENTARY',
 'GOLETA UNION ELEMENTARY',
 'GRANT ELEMENTARY',
 'GRASS VALLEY ELEMENTARY',
 'GRAVENSTEIN UNION ELEMENTARY',
 'GREENFIELD UNION',
 'GREENFIELD UNION ELEMENTARY',
 'GUADALUPE UNION ELEMENTARY',
 'CUCAMONGA ELEMENTARY',
 'GUSTINE UNIFIED',
 'HACIENDA LA PUENTE UNIFIED',
 'HANFORD ELEMENTARY',
 'HART-RANSOM UNION ELEMENTARY',
 'HAWTHORNE',
 'HAYWARD UNIFIED',
 'HEBER ELEMENTARY',
 'HELENDALE ELEMENTARY',
 'HEMET UNIFIED',
 'HERMOSA BEACH CITY ELEM',
 'HICKMAN COMMUNITY CHARTER',
 'HILLSBOROUGH CITY ELEMENTARY',
 'HILMAR UNIFIED',
 'HOLLISTER',
 'HOLTVILLE UNIFIED',
 'HUENEME ELEMENTARY',
 'HUNTINGTON BEACH CITY ELEMENTARY',
 'IMPERIAL UNIFIED',
 'INGLEWOOD UNIFIED',
 'ISLAND UNION ELEMENTARY',
 'JAMUL-DULZURA UNION ELEMENTARY',
 'JEFFERSON ELEMENTARY',
 'JOHN SWETT UNIFIED',
 'JURUPA UNIFIED',
 'KELSEYVILLE UNIFIED',
 'KENTFIELD ELEMENTARY',
 'KEPPEL UNION ELEMENTARY',
 'KERMAN UNIFIED',
 'KERNVILLE UNION ELEMENTARY',
 'KEYES UNION',
 'KING CITY UNION',
 'KINGS CANYON JOINT UNIFIED',
 'KINGS RIVER-HARDWICK UNION ELEMENTARY',
 'KINGSBURG ELEMENTARY CHARTER',
 'KNIGHTSEN ELEMENTARY',
 'LA CANADA UNIFIED',
 'LA HABRA CITY ELEMENTARY',
 'LA MESA-SPRING VALLEY',
 'LAFAYETTE ELEMENTARY',
 'LAGUNA BEACH UNIFIED',
 'PACIFICA',
 'LAKE TAHOE UNIFIED',
 'LAKEPORT UNIFIED',
 'LAKESIDE UNION',
 'LAKESIDE UNION ELEMENTARY',
 'LAMONT ELEMENTARY',
 'LANCASTER ELEMENTARY',
 'LARKSPUR-CORTE MADERA',
 'LAS VIRGENES UNIFIED',
 'LATON JOINT UNIFIED',
 'LAWNDALE ELEMENTARY',
 'LEMON GROVE',
 'LEMOORE UNION ELEMENTARY',
 'LENNOX',
 'RICHLAND UNION ELEMENTARY',
 'LIBERTY ELEMENTARY',
 'LINCOLN UNIFIED',
 'LINDEN UNIFIED',
 'LINDSAY UNIFIED',
 'LITTLE LAKE CITY ELEMENTARY',
 'LIVE OAK ELEMENTARY',
 'LIVE OAK UNIFIED',
 'LIVERMORE VALLEY JOINT UNIFIED',
 'LIVINGSTON UNION',
 'LODI UNIFIED',
 'LOMPOC UNIFIED',
 'LONG BEACH UNIFIED',
 'LOOMIS UNION ELEMENTARY',
 'LOS ALAMITOS UNIFIED',
 'LOS ALTOS ELEMENTARY',
 'LOS ANGELES UNIFIED',
 'LOS BANOS UNIFIED',
 'LOS GATOS UNION ELEMENTARY',
 'LOS NIETOS',
 'LOWELL JOINT',
 'LUCIA MAR UNIFIED',
 'LUTHER BURBANK',
 'LYNWOOD UNIFIED',
 'MADERA UNIFIED',
 'MAGNOLIA ELEMENTARY',
 'MAMMOTH UNIFIED',
 'MANTECA UNIFIED',
 'MARIPOSA COUNTY UNIFIED',
 'MARK WEST UNION ELEMENTARY',
 'MARTINEZ UNIFIED',
 'MARYSVILLE JOINT UNIFIED',
 'MCCABE UNION ELEMENTARY',
 'MCFARLAND UNIFIED',
 'MCKINLEYVILLE UNION ELEMENTARY',
 'MCSWAIN UNION ELEMENTARY',
 'MILPITAS UNIFIED',
 'MENIFEE UNION ELEMENTARY',
 'MENLO PARK CITY ELEMENTARY',
 'MERCED CITY ELEMENTARY',
 'MESA UNION ELEMENTARY',
 'MIDDLETOWN UNIFIED',
 'MILL VALLEY ELEMENTARY',
 'MILLBRAE ELEMENTARY',
 'MODESTO CITY ELEMENTARY',
 'MODOC JOINT UNIFIED',
 'MOJAVE UNIFIED',
 'MONROVIA UNIFIED',
 'MONTEBELLO UNIFIED',
 'MONTEREY PENINSULA UNIFIED',
 'MOORPARK UNIFIED',
 'MORAGA ELEMENTARY',
 'MORELAND',
 'MORENO VALLEY UNIFIED',
 'MORGAN HILL UNIFIED',
 'MORONGO UNIFIED',
 'MOTHER LODE UNION ELEMENTARY',
 'MOUNTAIN EMPIRE UNF',
 'MOUNTAIN VIEW ELEMENTARY',
 'MOUNTAIN VIEW WHISMAN',
 'MT. DIABLO UNIFIED',
 'MOUNT PLEASANT ELEMENTARY',
 'MUROC JOINT UNIFIED',
 'NAPA VALLEY UNIFIED',
 'NATIONAL ELEMENTARY',
 'NEW HAVEN UNIFIED',
 'NEW JERUSALEM ELEMENTARY',
 'NEWARK UNIFIED',
 'NEWCASTLE ELEMENTARY',
 'NEWHALL',
 'NEWMAN-CROWS LANDING UNIFIED',
 'NEWPORT-MESA UNIFIED',
 'NORRIS ELEMENTARY',
 'NORTH COUNTY JOINT UNION ELEMENTARY',
 'NORTH MONTEREY COUNTY UNIFIED',
 'NORWALK-LA MIRADA UNIFIED',
 'NOVATO UNF',
 'NUVIEW UNION',
 'OAK GROVE ELEMENTARY',
 'OAK GROVE UNION ELEMENTARY',
 'OAK PARK UNIFIED',
 'OAK VALLEY UNION ELEMENTARY',
 'OAK VIEW UNION ELEMENTARY',
 'OAKLAND UNIFIED',
 'OAKLEY UNION ELEMENTARY',
 'OCEAN VIEW',
 'OCEANSIDE UNIFIED',
 'OJAI UNIFIED',
 'OLD ADOBE UNION',
 'ONTARIO-MONTCLAIR',
 'ORANGE UNIFIED',
 'ORCHARD ELEMENTARY',
 'ORCUTT UNION ELEMENTARY',
 'ORINDA UNION ELEMENTARY',
 'OROVILLE CITY ELEMENTARY',
 'OXNARD',
 'PACHECO UNION ELEMENTARY',
 'PACIFIC GROVE UNIFIED',
 'PACIFIC UNION ELEMENTARY',
 'PAJARO VALLEY UNIFIED',
 'PALERMO UNION ELEMENTARY',
 'PALM SPRINGS UNIFIED',
 'PALMDALE ELEMENTARY',
 'PALO ALTO UNIFIED',
 'PALO VERDE UNIFIED',
 'PALO VERDE UNION ELEMENTARY',
 'PALOS VERDES PENINSULA UNIFIED',
 'PARAMOUNT UNIFIED',
 'PARLIER UNIFIED',
 'PASADENA UNIFIED',
 'PATTERSON JOINT UNIFIED',
 'PERRIS ELEMENTARY',
 'PETALUMA CITY ELEMENTARY',
 'PIEDMONT CITY UNIFIED',
 'PIERCE JOINT UNIFIED',
 'PIONEER UNION ELEMENTARY',
 'PITTSBURG UNIFIED',
 'PIXLEY UNION ELEMENTARY',
 'PLACENTIA-YORBA LINDA UNIFIED',
 'PLACER HILLS UNION ELEMENTARY',
 'PLACERVILLE UNION ELEMENTARY',
 'PLANADA ELEMENTARY',
 'PLEASANT RIDGE UNION ELEMENTARY',
 'PLEASANT VALLEY',
 'PLUMAS UNIFIED',
 'PLUMAS LAKE ELEMENTARY',
 'POLLOCK PINES ELEMENTARY',
 'POMONA UNIFIED',
 'POWAY UNIFIED',
 'RAMONA CITY UNIFIED',
 'RANCHO SANTA FE ELEMENTARY',
 'RAVENSWOOD CITY ELEMENTARY',
 'RED BLUFF UNION ELEMENTARY',
 'REDLANDS UNIFIED',
 'REDWOOD CITY ELEMENTARY',
 'REED UNION ELEMENTARY',
 'REEF-SUNSET UNIFIED',
 'RESCUE UNION ELEMENTARY',
 'RIALTO UNIFIED',
 'RICHGROVE ELEMENTARY',
 'WEST CONTRA COSTA UNIFIED',
 'RIM OF THE WORLD UNIFIED',
 'RINCON VALLEY UNION ELEMENTARY',
 'RIO BRAVO-GREELEY UNION ELEMENTARY',
 'RIO ELEMENTARY',
 'RIPON UNIFIED',
 'RIVER DELTA JOINT UNIFIED',
 'RIVERSIDE UNIFIED',
 'ROBLA ELEMENTARY',
 'ROMOLAND ELEMENTARY',
 'ROSEDALE UNION ELEMENTARY',
 'ROSELAND',
 'ROSEMEAD ELEMENTARY',
 'ROSEVILLE CITY ELEMENTARY',
 'ROSS ELEMENTARY',
 'ROWLAND UNIFIED',
 'SACRAMENTO CITY UNIFIED',
 'SADDLEBACK VALLEY UNIFIED',
 'SALIDA UNION ELEMENTARY',
 'SALINAS CITY ELEMENTARY',
 'SAN BERNARDINO CITY UNIFIED',
 'SAN BRUNO PARK ELEMENTARY',
 'SAN CARLOS ELEMENTARY',
 'SAN DIEGO UNIFIED',
 'SAN FRANCISCO UNIFIED',
 'SAN GABRIEL UNIFIED',
 'SAN JACINTO UNIFIED',
 'SAN JOSE UNIFIED',
 'SAN JUAN UNIFIED',
 'SAN LEANDRO UNIFIED',
 'SAN LORENZO UNIFIED',
 'SAN LORENZO VALLEY UNIFIED',
 'SAN LUIS COASTAL UNIFIED',
 'SAN MARINO UNIFIED',
 'SAN MARCOS UNIFIED',
 'SAN MATEO-FOSTER CITY',
 'SAN MIGUEL JOINT UNION',
 'SAN PASQUAL UNION ELEMENTARY',
 'SAN RAFAEL CITY ELEMENTARY',
 'SAN RAMON VALLEY UNIFIED',
 'SAN YSIDRO ELEMENTARY',
 'SANGER UNIFIED',
 'SANTA ANA UNIFIED',
 'SANTA CLARA UNIFIED',
 'SANTA MONICA-MALIBU UNIFIED',
 'SANTA RITA UNION ELEMENTARY',
 'SANTA ROSA ELEMENTARY',
 'SANTEE',
 'SARATOGA UNION ELEMENTARY',
 'SAUGUS UNION',
 'SAVANNA ELEMENTARY',
 'SEBASTOPOL UNION ELEMENTARY',
 'SELMA UNIFIED',
 'SIERRA SANDS UNIFIED',
 'SIERRA UNIFIED',
 'SILVER VALLEY UNIFIED',
 'SIMI VALLEY UNIFIED',
 'SNOWLINE JOINT UNIFIED',
 'SOLANA BEACH ELEMENTARY',

In [175]:
ls_share = pd.read_csv("online_share_months.csv")
ls_share["DistrictName"] = ls_share["DistrictName"].str.upper()

seda_df = pd.read_csv('seda_2022.csv')
seda_df["sedaadminname"] = seda_df["sedaadminname"].str.upper()

display(ls_share.head())
display(seda_df.head())

  StateAbbrev  NCESDistrictID      DistrictName  Online_months
0          AL          100005  ALBERTVILLE CITY              0
1          AL          100006   MARSHALL COUNTY              0
2          AL          100007       HOOVER CITY              8
3          AL          100008      MADISON CITY              0
4          AL          100011        LEEDS CITY              0

,stateabb,sedaadmin,sedaadminname,subject,ys_mn19_ol,ys_mn19_ol_se,ys_mn19_eb,ys_mn19_eb_se,ys_mn22_ol,ys_mn22_ol_se,...,ys_chg_ol,ys_chg_ol_se,ys_chg_eb,ys_chg_eb_se,tot_asmt19,tot_asmt22,cell19,cell22,avg_asmt19,avg_asmt22
0,AL,100005,ALBERTVILLE CITY,mth,-0.350,0.048583,-0.376,0.0440,-0.540,0.048953,...,-0.1900,0.068967,-0.1410,0.0578,2594,2740,6,6,432.3,456.7
1,AL,100005,ALBERTVILLE CITY,rla,-0.377,0.033052,-0.388,0.0307,-0.465,0.032436,...,-0.0876,0.046314,-0.0659,0.0403,2552,2737,6,6,425.3,456.2
2,AL,100006,MARSHALL COUNTY,mth,-0.461,0.049051,-0.464,0.0444,-0.501,0.049806,...,-0.0402,0.069888,-0.0328,0.0584,2560,2555,6,6,426.7,425.8
3,AL,100006,MARSHALL COUNTY,rla,-0.448,0.032629,-0.444,0.0304,-0.425,0.033305,...,0.0226,0.046591,0.0171,0.0405,2546,2557,6,6,424.3,426.2
4,AL,100007,HOOVER CITY,mth,0.295,0.048194,0.289,0.0437,0.405,0.048188,...,0.1090,0.068135,0.1120,0.0573,6417,6259,6,6,1069.5,1043.2

In [195]:
# Combin the two dataframe with (District ID and District Name)
common_states = list(set(ls_share['StateAbbrev'].unique()) & set(seda_df['stateabb'].unique()))

ls_share = ls_share[ls_share['StateAbbrev'].isin(common_states)]
seda_df = seda_df[seda_df['stateabb'].isin(common_states)]

merged_df = pd.merge(
    ls_share,
    seda_df,
    how="inner",
    left_on=["NCESDistrictID", "DistrictName"],
    right_on=["sedaadmin", "sedaadminname"]
)

merged_df = merged_df.drop(columns=['StateAbbrev', 'NCESDistrictID', 'DistrictName']).dropna(axis=1).reset_index(drop=True)
print(len(merged_df))
merged_df.head()

6388

,Online_months,stateabb,sedaadmin,sedaadminname,subject,ys_mn19_ol,ys_mn19_ol_se,ys_mn19_eb,ys_mn19_eb_se,ys_mn22_ol,...,ys_chg_ol,ys_chg_ol_se,ys_chg_eb,ys_chg_eb_se,tot_asmt19,tot_asmt22,cell19,cell22,avg_asmt19,avg_asmt22
0,0,AL,100005,ALBERTVILLE CITY,mth,-0.350,0.048583,-0.376,0.0440,-0.540,...,-0.1900,0.068967,-0.1410,0.0578,2594,2740,6,6,432.3,456.7
1,0,AL,100005,ALBERTVILLE CITY,rla,-0.377,0.033052,-0.388,0.0307,-0.465,...,-0.0876,0.046314,-0.0659,0.0403,2552,2737,6,6,425.3,456.2
2,0,AL,100006,MARSHALL COUNTY,mth,-0.461,0.049051,-0.464,0.0444,-0.501,...,-0.0402,0.069888,-0.0328,0.0584,2560,2555,6,6,426.7,425.8
3,0,AL,100006,MARSHALL COUNTY,rla,-0.448,0.032629,-0.444,0.0304,-0.425,...,0.0226,0.046591,0.0171,0.0405,2546,2557,6,6,424.3,426.2
4,8,AL,100007,HOOVER CITY,mth,0.295,0.048194,0.289,0.0437,0.405,...,0.1090,0.068135,0.1120,0.0573,6417,6259,6,6,1069.5,1043.2

In [250]:
math_df = merged_df[merged_df['subject'] == 'mth'].drop(columns=['subject']).reset_index(drop=True)
display(math_df.head())
math_df.to_csv('math_seda.csv', index=False)

rla_df = merged_df[merged_df['subject'] == 'rla'].drop(columns=['subject']).reset_index(drop=True)
display(rla_df.head())
rla_df.to_csv('rla_seda.csv', index=False)

,Online_months,stateabb,sedaadmin,sedaadminname,ys_mn19_ol,ys_mn19_ol_se,ys_mn19_eb,ys_mn19_eb_se,ys_mn22_ol,ys_mn22_ol_se,...,ys_chg_ol,ys_chg_ol_se,ys_chg_eb,ys_chg_eb_se,tot_asmt19,tot_asmt22,cell19,cell22,avg_asmt19,avg_asmt22
0,0,AL,100005,ALBERTVILLE CITY,-0.350,0.048583,-0.376,0.0440,-0.540,0.048953,...,-0.1900,0.068967,-0.14100,0.0578,2594,2740,6,6,432.3,456.7
1,0,AL,100006,MARSHALL COUNTY,-0.461,0.049051,-0.464,0.0444,-0.501,0.049806,...,-0.0402,0.069888,-0.03280,0.0584,2560,2555,6,6,426.7,425.8
2,8,AL,100007,HOOVER CITY,0.295,0.048194,0.289,0.0437,0.405,0.048188,...,0.1090,0.068135,0.11200,0.0573,6417,6259,6,6,1069.5,1043.2
3,0,AL,100008,MADISON CITY,0.469,0.049193,0.428,0.0444,0.406,0.048580,...,-0.0630,0.069122,-0.00144,0.0579,5019,5296,6,6,836.5,882.7
4,0,AL,100011,LEEDS CITY,-0.378,0.055625,-0.388,0.0492,-0.431,0.055972,...,-0.0530,0.078858,-0.03460,0.0633,945,944,6,6,157.5,157.3

,Online_months,stateabb,sedaadmin,sedaadminname,ys_mn19_ol,ys_mn19_ol_se,ys_mn19_eb,ys_mn19_eb_se,ys_mn22_ol,ys_mn22_ol_se,...,ys_chg_ol,ys_chg_ol_se,ys_chg_eb,ys_chg_eb_se,tot_asmt19,tot_asmt22,cell19,cell22,avg_asmt19,avg_asmt22
0,0,AL,100005,ALBERTVILLE CITY,-0.377,0.033052,-0.388,0.0307,-0.465,0.032436,...,-0.08760,0.046314,-0.06590,0.0403,2552,2737,6,6,425.3,456.2
1,0,AL,100006,MARSHALL COUNTY,-0.448,0.032629,-0.444,0.0304,-0.425,0.033305,...,0.02260,0.046591,0.01710,0.0405,2546,2557,6,6,424.3,426.2
2,8,AL,100007,HOOVER CITY,0.293,0.029366,0.298,0.0277,0.416,0.030037,...,0.12300,0.041956,0.10900,0.0373,6384,6256,6,6,1064.0,1042.7
3,0,AL,100008,MADISON CITY,0.568,0.031340,0.548,0.0294,0.486,0.030854,...,-0.08210,0.043901,-0.05050,0.0386,4983,5293,6,6,830.5,882.2
4,0,AL,100011,LEEDS CITY,-0.306,0.045319,-0.305,0.0403,-0.298,0.044387,...,0.00787,0.063427,0.00708,0.0501,945,946,6,6,157.5,157.7